.form {
  height: 85vh;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
}

.form-signin {
  /* width: 400px; */
  /* flex-basis: 400px; */
  padding: 15px;

  grid-column: 2 / span 2;

  --bs-border-radius: 10px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
